html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
#root {
  height: 100%;
}

a {
  text-decoration: none;
}

.filterSelectButton {
}

@media (max-width: 700px) {
  .filterSelectButton {
    font-size: 0.75rem;
  }
}
