.container {
  min-height: 100%;
  min-width: 80%;
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-top: 48px;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 15px;
  padding: 48px 0px;
  backdrop-filter: blur(2px);
}

.content {
  margin-top: 12px;
  padding: 16px;
  opacity: 1 !important;
}

.wrapper {
  background-image: url("/images/sven-mieke-MsCgmHuirDo-unsplash.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
